<div class="hireBackground">
  <div class="hire container ">
    <h2 class="secondaryDark text-center d-none d-lg-block fs-48 pt-120">
      陪玩師招募
      <span class="d-flex justify-content-center">
        <span
          class="border border-bottom border-4 mt-16 border-secondaryDark w-96"
        >
        </span
      ></span>
    </h2>
    <h2 class="secondaryDark text-center d-block d-lg-none fs-24 pt-64">
      陪玩師招募
    </h2>
    <ul class="d-flex mt-48 list-unstyled gap-24 ">
      <li class="shadow">
        <div class="card pt-55 px-40">
          <div class="card-img mb-0 position-relative">
            <img src="../assets/images/web/product/hire01.png" alt="hire01" />
            <span class="position-absolute translate-middle top-0 start-50 border rounded-5 bg-gray4 border-gray4 fs-24 py-4 px-24 notice hireIcons">資格</span>
            <span class="position-absolute translate-middle top-50 start-50 fs-40 text-gray6 slogon">無經驗可</span>
          </div>
          <div class="card-body mt-20 mb-32">
            <p class="fs-24 text-gray2 text-center p-0 m-0">新手小白都接受</p>
          </div>
        </div>
      </li>
      <li class="shadow">
        <div class="card pt-55 px-40">
          <div class="card-img mb-0 position-relative">
            <img src="../assets/images/web/product/hire02.png" alt="hire02" />
            <span class="position-absolute translate-middle top-0 start-50 border rounded-5 bg-gray4 border-gray4 fs-24 py-4 px-24 notice hireIcons">抽成</span>
            <span class="position-absolute translate-middle top-50 start-50 fs-40 text-gray6 slogon">筆筆90%</span>
          </div>
          <div class="card-body mt-20 mb-32">
            <p class="fs-24 text-gray2 text-center p-0 m-0">業界最高回饋</p>
          </div>
        </div>
      </li>
      <li class="shadow">
        <div class="card pt-55 px-40">
          <div class="card-img mb-0 position-relative">
            <img src="../assets/images/web/product/hire03.png" alt="hire03" />
            <span class="position-absolute translate-middle top-0 start-50 border rounded-5 bg-gray4 border-gray4 fs-24 py-4 px-24 notice hireIcons">優勢</span>
            <span class="position-absolute translate-middle top-50 start-50 fs-40 text-gray6 text-nowrap slogon">彈性接案無負擔</span>
          </div>
          <div class="card-body mt-20 mb-32">
            <p class="fs-24 text-gray2 text-center p-0 m-0">分享興趣與互動</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
