<div class="playComment container-md d-flex justify-content-center mb-120 mt-60">
  <div class="card border-0 shadow position-relative mt-n100 d-flex justify-content-center w-80">
    <span>
        <img src="../assets/images/others/Vector.png" alt="vector" class="position-absolute translate-middle">
    </span>
    <div class="card-body d-flex pt-72 px-110 gap-24 mb-0 ">
      <section class="w-100 text-center">
        <h6 class="fs-20 text-gray1">飛天小女警</h6>
        <p class="mt-16 text-gray2">
          註冊的速度非常快，完成之後就有訂單進來，款項入帳的時間也非常快，非常感謝愛配讓我成為陪玩師。
        </p>
      </section>
      <section class="w-100 text-center">
        <h6 class="fs-20 text-gray1">工具人</h6>
        <p class="mt-16 text-gray2">
          身為一名健談的工具人，跟我聊天絕無冷場，上得了廳堂入得了廚房，問我股票也不會讓你住套房。
        </p>
      </section>
    </div>
    <div class="mt-56 mb-72 text-center button">
      <button type="button" class="btn btn-main text-white py-24 px-120 text-nowrap">成為陪玩師</button>
    </div>
  </div>
</div>
