.fit-cover {
  object-fit: cover;
}

.mainBackground {
  background-image: url("../assets/images/web/background/01.png");
  // background-position: top center;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 360px;
  background-position: center;
  object-fit: cover;
  position: relative;
}

.mainBackgroundMob {
  background-image: url("../assets/images/mobile/background/01.png");
  max-width: 100%;
  height: 634px;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  position: relative;
  &::after {
    content: "";
    display: block;
    width: 271px;
    height: 43px;
    background-image: url('../assets/images/web/decoration/01.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 10;
  }
}

.img {
  width: 100%;
}

.datingStart {
  &::after {
    content: "";
    display: block;
    width: 433px;
    height: 68px;
    background-image: url('../assets/images/web/decoration/01.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 255px;
    top: -20px;
    z-index: 10;
  }
}

.hireBackground {
  background-color: $secondaryLight;
  max-width: 100%;
  // height: 886px;
  height: 906px;
}

.mobBg::after{
  content:'';
  // display: block;
    width: 271px;
    height: 43px;
    background-image: url('../../assets/images/web/decoration/ds.svg');
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 10;
}

.datingWeb{
  top:-50px;
  left:260px;
}